.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:   0px; /* Példaként cellák közötti tér hozzáadása. */
}

.section {
    background-color: rgb(3, 1, 1);
    padding: 0px;
}

.empty-space {
    height: 50px; }
