* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1;
    padding: 0;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0,75),rgba(0,0,0,0,75));
    background-size: cover;
    background-position: center;
}

.nav-links {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    /* Close button on hover */
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    align-items: left;
}

.container {
    width: 80%; /* Példaként 80%-os szélességű konténer. Az értéket az igényeidhez igazíthatod. */
    padding: 100px; /* Példaként 20 pixeles belső margó a tartalom körül. */
    background-color: #ffffff; /* Háttérszín a tartalom körül. */
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

img {
    width: 11%;
    object-fit: fit;
    border-radius: 80px;
    box-shadow: 0 20px 20px rgba(50,60,60,0.2);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    top: 0px;
    font-size: 30px;
}

    h1::after {
        content: ' ';
        width: 0%;
        height: 2px;
        background: rgb(105, 174, 105);
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    h1:hover::after {
        width: 100%;
    }

p {
    text-align: center; /* A szöveget igazítja a bal és jobb oldali margóhoz. */
}

.flip-card {
    position: relative;
    width: 100%;
    height: 150;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

    .flip-card .front,
    .flip-card .back {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background: lightgreen;
        backface-visibility: hidden;
        border-radius: 0 20px 0 20px;
    }

    .flip-card .back {
        transform: rotateX(180deg);
        color: #000;
        background: lightgreenS;
    }

label:hover .flip-card {
    transform: rotateX(2deg);
    box-shadow: 0 20px 20px rgba(50,60,60,0.2);
}

input {
    display: none;
}

:checked + .flip-card {
    transform: rotateX(180deg);
}

label:hover :checked + .flip-card {
    transform: rotateX(175deg);
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.front h2 {
    font-size: 28px;
    color: 4e699d;
    margin: 12px 0 12px 0;
}

.front b {
    font-size: 14px;
    color: #424752;
    margin: 0 0 35px 0;
    display: block;
}

.front p,
.back, .click {
    font-size: 18px;
    font-weight: 600;
}

    .back h1 {
        color: #424752;
        margin: 30px 0 0 0;
    }

hr {
    width: 180px;
    margin: 15px auto 10px auto;
}

.back p {
    font-size: 16px;
    color: #000;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 18px; /* A szöveget igazítja a bal és jobb oldali margóhoz. */
}

.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; /* Példaként cellák közötti tér hozzáadása. */
}

.section {
    background-color: lightgray;
    padding: 40px;
}

.container4 {
    margin: 20 20px; /* Példaként a távolság az oldalsó margókból származik. */
    height: 300px; /* Példaként állítsd be a konténer magasságát. */
}

.section2 {
    background-color: lightgray;
    padding: 40px;
}


.container4 {
    margin-right: auto;
    margin-left: auto;
    bottom: auto;
}

.section3 {
    background-color: rgb(211, 211, 211); /* Példaként háttereszköz beállítása. */
    padding: 80px; /* Példaként belső margó hozzáadása. */
}

.rectangle {
    width: 1300px;
    height: 70px;
    background-color: #fffff0;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
