.container {
    display: flex;
    flex-direction: column;
    padding: 400px;
    align-items: flex-start;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    height: 60px;
    padding: 20px;
    transition: 0.3s;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px; /* Hozzáadott sor - térköz a gombok között */
}

.positioned-element1 {
    position: absolute;
    top: 40px;
    left: 500px;
    background-color: #3498db;
    padding: 10px;
    color: #ffffff;
}

.positioned-element2 {
    position: absolute;
    top: 300px;
    left: 500px;
    background-color: #3498db;
    padding: 10px;
    color: #ffffff;
}

        .positioned-element3 {
            position: absolute;
            top: 550px;
            left: 500px;
            background-color: #3498db;
            padding: 10px;
            color: #ffffff;
        }