body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #4267B2; /* Facebook's header color */
    color: #fff;
    padding: 20px;
    transition: height 0.5s ease; /* Adding a smooth transition effect for height changes */
}

.content {
    padding: 20px;
}

.container {
    display: flex;
   
    margin:  320px; /* Példaként a távolság az oldalsó margókból származik. */
    height:200px; /* Példaként állítsd be a konténer magasságát. */
}

.container2{
display: flex;
   
    margin:  10px; /* Példaként a távolság az oldalsó margókból származik. */
    height: 20px; /* Példaként állítsd be a konténer magasságát. */ 
}

.container3{
    display: flex;
       
        margin:  10px; /* Példaként a távolság az oldalsó margókból származik. */
        height: 20px; /* Példaként állítsd be a konténer magasságát. */ 
    }

    .rectangle {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; /* Itt változtathatod az oszlopok szélességét */
        gap: 0px; /* Változtathatod a részecskék közötti rés méretét */
    }
    
    .part {
        height: 700px; /* Változtasd a magasságot az igényeid szerint */
        text-align: center;
    }
    
    .part1 {
        background-color: #ff9999; /* Változtasd a színeket az igényeid szerint */
        margin-left: +3px;
        }
    
    .part2 {
        background-color: #99ff99;
    }
    
    .part3 {
        background-color: #9999ff;
        margin-right: +3px
    }